@tailwind base;
@tailwind components;

.section-video {
  background: linear-gradient(
    180deg,
    theme("colors.gray.100") 20%,
    theme("colors.mint") 20%
  );
}
.section-logos li {
  @apply mb-10 mr-10;
}

@tailwind utilities;
